body{
	background-image: url("../images/questionMarkBackground.png");
}

#container{
	background: rgba(255, 255, 255, 0.5);
	margin: 2% 10% 0%;
	height: auto; 
	padding: 2%;
	border-radius: 12px;
}

h1, h2, div{
	text-align: center;
}

p{
	font-size: 24px;
	font-weight: bold;
}

button{
	background: rgba(7, 80, 110, 1);
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: 1%;
	border-radius: 12px;
	padding: 2%;
}

img{
	height: 200px;
	width: auto;
	margin: 2%;
	border-radius: 12px;
}